{
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"max-len": [1, 120, 2, {
			"ignoreComments": true
		}],
		"linebreak-style": [2,"windows"],
		"indent": [2, "tab"],
		"no-tabs": 0,
		"react/jsx-uses-vars": 1
	},
	"extends": ["airbnb"]
}