/* ICONS
------------------------------------*/

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__close-button {
        width: 20px;
        height: 20px;
        background-image: url($icons_path + 'icon-close-button.svg');
    }
}

/* END ICONS
------------------------------------*/